

.all_desc {
    justify-content: left;
    display: flex;
    text-align: left;
    align-items: center;
}



.facebook_midia {
   
    flex-direction: column;
    border-radius: 5px;
    display: flex;
  justify-content: space-between;
  background-color: hsl(227, 47%, 96%);
    align-items: center;
    height: 200px;
    width: 250px;
}



.all_gain{
    justify-content: left;
    display: flex;
    text-align: center;
    align-items: center;

}


#midia h1{
    color: #252831;
    margin-bottom: 0px;
    font-size: 40px;
}

#midia h4 {
    color: #6A6D76;
    margin-top: 0;
   
}
.down {
    color: hsl(356, 69%, 56%);
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.up {
    color: hsl(163, 72%, 41%);
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
#midia2{
    flex-direction: column;
    background-color:hsl(225, 100%, 98%);
    font-family: "Inter",sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    margin-left: 10%;
    margin-right: 5%;
}
#midia{
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ffffff;
    font-family: "Inter",sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    justify-content: space-evenly;
}
.X_midia {

    flex-direction: column;
    border-radius: 5px;
    display: flex;
    background-color: hsl(227, 47%, 96%);
    align-items: center;
    height: 200px;
    width: 250px;
}

.X_midia h4 {
    color: #6A6D76;
 
   
}

.insta_midia {
    
    flex-direction: column;
    border-radius: 5px;
    display: flex;
    background-color: hsl(227, 47%, 96%);
    align-items: center;
    height: 200px;
    width: 250px;
}

.yt_midia {

    flex-direction: column;
    border-radius: 5px;
    display: flex;
    background-color: hsl(227, 47%, 96%);
    align-items: center;
    height: 200px;
    width: 250px;
}

.yt_gain{
    justify-content: left;
    display: flex;
    text-align: center;
    align-items: center;

}
.all_p{
   color: #7A7D8C;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
} 

.borda{
    height: 20px;
    width: 100px;
    background-color: red;
}